/**이모티콘 참고자료: https://tgd.kr/18975286 **/
:root {
--emote-01: url("img/emote/emote001.png");
--emote-02: url("img/emote/emote002.png");
--emote-03: url("img/emote/emote003.png");
--emote-04: url("img/emote/emote004.png");
--emote-05: url("img/emote/emote005.png");
--emote-06: url("img/emote/emote006.png");
--emote-07: url("img/emote/emote007.png");
}

/** emote001 **/
/** 이모티콘창에서 보이는 이모티콘 이미지 수정 **/
.fr-command.fr-emoticon[data-param1=JKanStyle] > img {
     width: 30px !important;
     height: 30px !important;
     padding-left: 30px;
     background-image: var(--emote-01);
     background-size: 100%;
}

/** 글작성 후 보이는 이미지 수정**/
#article-content-wrapper #article-content img[alt=JKanStyle],
.fr-emoticon.fr-deletable > img[alt=JKanStyle]{
     width: 50px !important;
     height: 50px !important;
     padding-left: 50px;
     background-image: var(--emote-01);
     background-size: 100%;
}

/** emote002 **/
/** 이모티콘창에서 보이는 이모티콘 이미지 수정 **/
.fr-command.fr-emoticon[data-param1=OptimizePrime] > img {
     width: 30px !important;
     height: 30px !important;
     padding-left: 30px;
     background-image: var(--emote-02);
     background-size: 100%;
}

/** 글작성 후 보이는 이미지 수정**/
#article-content-wrapper #article-content img[alt=OptimizePrime],
.fr-emoticon.fr-deletable > img[alt=OptimizePrime]{
     width: 50px !important;
     height: 50px !important;
     padding-left: 50px;
     background-image: var(--emote-02);
     background-size: 100%;
}

/** emote003 **/
/** 이모티콘창에서 보이는 이모티콘 이미지 수정 **/
.fr-command.fr-emoticon[data-param1=StoneLightning] > img {
     width: 30px !important;
     height: 30px !important;
     padding-left: 30px;
     background-image: var(--emote-03);
     background-size: 100%;
}

/** 글작성 후 보이는 이미지 수정**/
#article-content-wrapper #article-content img[alt=StoneLightning],
.fr-emoticon.fr-deletable > img[alt=StoneLightning]{
     width: 50px !important;
     height: 50px !important;
     padding-left: 50px;
     background-image: var(--emote-03);
     background-size: 100%;
}

/** emote004 **/
/** 이모티콘창에서 보이는 이모티콘 이미지 수정 **/
.fr-command.fr-emoticon[data-param1=TheRinger] > img {
     width: 30px !important;
     height: 30px !important;
     padding-left: 30px;
     background-image: var(--emote-04);
     background-size: 100%;
}

/** 글작성 후 보이는 이미지 수정**/
#article-content-wrapper #article-content img[alt=TheRinger],
.fr-emoticon.fr-deletable > img[alt=TheRinger]{
     width: 50px !important;
     height: 50px !important;
     padding-left: 50px;
     background-image: var(--emote-04);
     background-size: 100%;
}

/** emote005 **/
/** 이모티콘창에서 보이는 이모티콘 이미지 수정 **/
.fr-command.fr-emoticon[data-param1=RedCoat] > img {
     width: 30px !important;
     height: 30px !important;
     padding-left: 30px;
     background-image: var(--emote-05);
     background-size: 100%;
}

/** 글작성 후 보이는 이미지 수정**/
#article-content-wrapper #article-content img[alt=RedCoat],
.fr-emoticon.fr-deletable > img[alt=RedCoat]{
     width: 50px !important;
     height: 50px !important;
     padding-left: 50px;
     background-image: var(--emote-05);
     background-size: 100%;
}

/** emote006 **/
/** 이모티콘창에서 보이는 이모티콘 이미지 수정 **/
.fr-command.fr-emoticon[data-param1=Kappa] > img {
     width: 30px !important;
     height: 30px !important;
     padding-left: 30px;
     background-image: var(--emote-06);
     background-size: 100%;
}

/** 글작성 후 보이는 이미지 수정**/
#article-content-wrapper #article-content img[alt=Kappa],
.fr-emoticon.fr-deletable > img[alt=Kappa]{
     width: 50px !important;
     height: 50px !important;
     padding-left: 50px;
     background-image: var(--emote-06);
     background-size: 100%;
}

/** emote007 **/
/** 이모티콘창에서 보이는 이모티콘 이미지 수정 **/
.fr-command.fr-emoticon[data-param1=JonCarnage] > img {
     width: 30px !important;
     height: 30px !important;
     padding-left: 30px;
     background-image: var(--emote-07);
     background-size: 100%;
}

/** 글작성 후 보이는 이미지 수정**/
#article-content-wrapper #article-content img[alt=JonCarnage],
.fr-emoticon.fr-deletable > img[alt=JonCarnage]{
     width: 50px !important;
     height: 50px !important;
     padding-left: 50px;
     background-image: var(--emote-07);
     background-size: 100%;
}
