/* 기본 템플릿: 트게더 CSS디자인 커뮤니티 https://tgd.kr/18733230 감사합니다! */
/* CSS 관련 사항은 연락처 disenocosmico@gmail.com 로 부탁드립니다. */
/* 샤이님은 해당 CSS디자인 제작과 직접적인 관련이 없습니다. */

/*이모티콘용 시트를 불러옵니다*/
@import "emote.css";

/* 고양일산체 */
@font-face {
	font-family: 'GoyangIlsan';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff');
	font-weight: normal; font-style: normal;
}

/*한수원 한울림체*/
@font-face {
    font-family: 'KHNPHU';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHU.woff') format('woff');
    font-weight: normal; font-style: normal;
}

* { font-family: 'KHNPHU'; font-display: swap; }

:root {
	--color-0: #ffffff; /* box color */
	--color-main: #42275a; /* main color */
	--color-sub: #734b6d; /* sub  color */
	--color-A: #a48cba; /* */
	--color-hover: #bdb3c7;

	--logo-URL: url("img/logom.png");
	--logo-size-mobile: 90px 32px;


}

/* main body */
#main-content, body, footer {
	background: var(--color-0) !important;
}

/* 고정 포스트 로고 색 */
span.a-badge i.fa.fa-info-circle { color: red !important; }

header {
	/* border-bottom-color: var(--color-sub) !important; */
	background-color: var(--color-sub);
	background-image: linear-gradient(315deg, var(--color-sub) 0%, var(--color-main) 74%);
}

/* 상단 로고 */
header > #header-area > a > h1 {
	background: var(--logo-URL) no-repeat;
	background-size: var(--logo-size-mobile);
	margin-top: 2px;
}
header > #header-area > #header-bar-link {
	/*color: var(--color-sub);*/
	color: var(--color-0);
	padding-top: 3px;
}
#board-info h1 .badge-success {display: none;}
#board-info #viewers-area { font-size: 14px; color: var(--color-main); font-weight: normal; vertical-align: middle; line-height: 18px; display: inline-block; }
#header-top-notice a { font-weight: bold; color: var(--color-main) !important; }
#header-top-notice strong.notice-badge { background: var(--color-main) !important; }
#header-top-notice strong.notice-badge { padding-left: 0; padding-right: 0; margin-right: -2em; opacity: 0; }

#article-content-wrapper > .header { background: var(--color-0) !important; border-top: 2px solid var(--color-main); }

/* 버튼이 겹쳐도 클릭이 됩니다 (오류 있으면 바로 수정해야함)*/
#article-list { clear: both; border-top: 1px solid #e2e2e2}

/* posts list customed layout */
#article-list > .article-list-row has-category notice > .item > .list-header > strong { width: 0px; }

/* #article-list > .article-list-row.notice { background: var(--color-hover) !important; } */
#article-list > .article-list-row.notice > .item > a.list-title { vertical-align: middle; }
#article-list > .article-list-row.notice > .item > a.list-title > .title-value { padding-left: 6px; }
#article-list > .article-list-row.notice > .item > a.list-title > .list-writer { height: 0px !important; opacity: 0; padding: 0px; }
#article-list > .article-list-row.notice > .item > .list-header { width:12px; }
/* #article-list>.article-list-row.hot { background-color: var(--color-hover); } */
#article-list > .article-list-row > .item > span.a-badge { width: 40px; }
#article-list > .article-list-row > .item > a.list-title > .title-value { max-width: 240px; }
#article-list > .article-list-row > .item > a.list-title > .list-writer.logged > span { color: var(--color-main); }
#article-list > .article-list-row > .item > .list-header > span { background-color: var(--color-sub) /*!important;*/ }
#article-list > .article-list-row > .item > .list-header > strong { font-size: 0px; padding: 0px; }

/* normal posts */
#article-info { border-top: 1px solid #e1e1e1; }
#article-list #article-list-category { background: var(--color-0); }
#article-list #article-list-category > a { display: inline-block; padding: 11px 16px; background: var(--color-0); text-decoration: none; font-size: 12px; font-weight: bold; }
#article-list #article-list-category > a:focus { background: var(--color-hover); }

#board-info { background: var(--color-0); max-height: 46px; max-block-size: 46px; position: relative; }
/*프로필 하단 메뉴를 설정하기 위한 부분입니다 */
#board-info > a.board-right-menu { max-height: 40px; border: 0px; vertical-align: middle; color: black; }
#board-info > a.board-right-menu[href="/pparkshy/profile"]{ display: none; }
#board-info > a.board-right-menu[href="#"] { position: absolute; z-index: 20; right: 0; top: 0; }
#board-info > a.board-right-menu[href="/clips?streamer_id=198269400"]{padding: 10px 10px 10px 5px; }
#board-info > a.board-right-menu[href="//twitch.tv/pparkshy"] {padding: 10px 5px 10px 10px;}
#board-info > h1 { display: block; }
#board-info > h1 > a { color: black; text-decoration: none; }
#board-info > a.board-right-menu:hover {background: none;}
#board-info > a.board-right-menu > i.fa-star:before { color: #efc839; }
#board-info > a.board-right-menu > i.fa-twitch:before {
    content: "\f1e8" " 트위치 바로가기";
    display: inline-block;
    min-width: 10px; padding: 7px 9px;
		font-size: 12px; font-weight: 600; color: #fff;
    line-height: 1; text-align: center;
    white-space: nowrap; vertical-align: middle;
    background-color: var(--color-sub); border-radius: 10px;
}
.fa-film:before{
		content: "\f008" " 클립";
		display: inline-block;
		min-width: 10px; padding: 7px 9px;
		font-size: 12px; font-weight: 600; color: #fff;
		line-height: 1; text-align: center;
		white-space: nowrap; vertical-align: middle;
		background-color: var(--color-sub); border-radius: 10px;
}

/* Button */
.btn-primary { background: var(--color-sub); color: var(--color-0); border-color: var(--color-main); }
.btn-primary:hover, .btn-primary:active { background: var(--color-hover); }

/*pagination*/
.pagination > .active > a, .pagination > .active > a:focus,
.pagination > .active > a:hover, .pagination > .active > span,
.pagination > .active > span:focus, .pagination > .active > span:hover { background-color: var(--color-sub); border-color: var(--color-main); }
.pagination > li > a, .pagination > li > span:hover { color: var(--color-main); }
.pagination > li > span:hover { background-color: var(--color-hover); }

/* replay area */
#article-reply-area > .header h5 { color: var(--color-main); font-weight: bold; }
#article-reply-area #reply-real-area .reply > .reply-header { background: var(--color-0) !important; }
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged { color: var(--color-main) !important; }

/* top search bar */
header > #header-search-bar #header-search-input { border: 2px solid var(--color-A); }
header > #header-search-bar #header-search-btn { color: var(--color-0); }
header > #header-area > #header-search-link { color: var(--color-0);  padding-top: 3px; }
/* nav box (left side) */
nav#nav > .nav-header { background: var(--color-main); }
header > #header-area > #header-search-link { color: var(--color-0); }

/*특정글 폰트고정*/
div#article-content[data-id='22676377'].fr-view > p {
    font-family: 'GoyangIlsan' !important;
}
div#article-content[data-id='22803130'].fr-view > p {
    font-family: 'GoyangIlsan' !important;
}

/*티셔츠 공구 내용 수정*/
#article-list > #article-list-row-21916194 > .item > a.list-title:visited {color: #ff4c4c !important;} /*방문한 페이지 색*/
#article-list > #article-list-row-21916194 > .item > a > span.a-badge { width:20px; } /*공지 아이콘 가리기*/
#article-list > #article-list-row-21916194 > .item > a > span > i:before {
    content: "마감";
    background: var(--color-sub); color: white;
    font-weight: bold; font-family:"KHNPHU"; text-align:center; font-size: x-small;
}
