/* 기본 템플릿: 트게더 CSS디자인 커뮤니티 https://tgd.kr/18733230 감사합니다! */
/* CSS 관련 사항은 연락처 disenocosmico@gmail.com 로 부탁드립니다. */
/* 샤이님은 해당 CSS디자인 제작과 직접적인 관련이 없습니다. */

/* 고양일산체 */
@font-face {
	font-family: 'GoyangIlsan';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff');
	font-weight: normal; font-style: normal;
}

/*한수원 한울림체*/
@font-face {
    font-family: 'KHNPHU';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHU.woff') format('woff');
    font-weight: normal; font-style: normal;
}

* {font-family: 'KHNPHU';}
:root {
	--color-0: #ffffff; /* box color */
	--color-1: #cceecc; /* */
	--color-2: #e3f1af; /* */
	--color-3: #42275a; /* main color */
	--color-4: #734b6d; /* sub  color */
	--color-5: #a48cba; /* */
	--color-bg: #bdb3c7;

	--logo-URL: url("https://disenocosmico.github.io/shytgd/img/logom.png");
	--logo-size-mobile: 90px 32px;

	--emote-01: url("https://disenocosmico.github.io/shytgd/img/emote/emote001.png");
	--emote-02: url("https://disenocosmico.github.io/shytgd/img/emote/emote002.png");
	--emote-03: url("https://disenocosmico.github.io/shytgd/img/emote/emote003.png");
	--emote-04: url("https://disenocosmico.github.io/shytgd/img/emote/emote004.png");
	--emote-05: url("https://disenocosmico.github.io/shytgd/img/emote/emote005.png");
	--emote-06: url("https://disenocosmico.github.io/shytgd/img/emote/emote006.png");
	--emote-07: url("https://disenocosmico.github.io/shytgd/img/emote/emote007.png");

}

/* main body */
#main-content, body, footer {
	background: var(--color-0) !important;
}

/* 고정 포스트 로고 색 */
span.a-badge i.fa.fa-info-circle { color: red !important; }

header {
	/* border-bottom-color: var(--color-4) !important; */
	background-color: var(--color-4);
	background-image: linear-gradient(315deg, var(--color-4) 0%, var(--color-3) 74%);
}

/* 상단 로고 */
header > #header-area > a > h1 {
	background: var(--logo-URL) no-repeat;
	background-size: var(--logo-size-mobile);
	margin-top: 2px;
}
header > #header-area > #header-bar-link {
	/*color: var(--color-4);*/
	color: var(--color-0);
	padding-top: 3px;
}

#board-info #viewers-area { font-size: 14px; color: var(--color-3); font-weight: normal; vertical-align: middle; line-height: 18px; display: inline-block; }
#header-top-notice a { font-weight: bold; color: var(--color-3) !important; }
#header-top-notice strong.notice-badge { background: var(--color-3) !important; }
#header-top-notice strong.notice-badge { padding-left: 0; padding-right: 0; margin-right: -2em; opacity: 0; }

#article-content-wrapper > .header { background: var(--color-0) !important; border-top: 2px solid var(--color-3); }

/* 버튼이 겹쳐도 클릭이 됩니다 (오류 있으면 바로 수정해야함)*/
#article-list { clear: both; border-top: 1px solid #e2e2e2}

/* posts list customed layout */
#article-list > .article-list-row has-category notice > .item > .list-header > strong { width: 0px; }

/* #article-list > .article-list-row.notice { background: var(--color-bg) !important; } */
#article-list > .article-list-row.notice > .item > a.list-title { vertical-align: middle; }
#article-list > .article-list-row.notice > .item > a.list-title > .title-value { padding-left: 6px; }
#article-list > .article-list-row.notice > .item > a.list-title > .list-writer { height: 0px !important; opacity: 0; padding: 0px; }
#article-list > .article-list-row.notice > .item > .list-header { width:12px; }
/* #article-list>.article-list-row.hot { background-color: var(--color-bg); } */
#article-list > .article-list-row > .item > span.a-badge { width: 40px; }
#article-list > .article-list-row > .item > a.list-title > .title-value { max-width: 240px; }
#article-list > .article-list-row > .item > a.list-title > .list-writer.logged > span { color: var(--color-3); }
#article-list > .article-list-row > .item > .list-header > span { background-color: var(--color-4) /*!important;*/ }
#article-list > .article-list-row > .item > .list-header > strong { font-size: 0px; padding: 0px; }

/* normal posts */
#article-info { border-top: 1px solid #e1e1e1; }
#article-list #article-list-category { background: var(--color-0); }
#article-list #article-list-category > a { display: inline-block; padding: 11px 16px; background: var(--color-0); text-decoration: none; font-size: 12px; font-weight: bold; }
#article-list #article-list-category > a:focus { background: var(--color-bg); }

#board-info { background: var(--color-0); max-height: 46px; max-block-size: 46px; position: relative; }
/*프로필 하단 메뉴를 설정하기 위한 부분입니다 */
#board-info > a.board-right-menu { max-height: 40px; border: 0px; vertical-align: middle; color: black; }
#board-info > a.board-right-menu[href="/pparkshy/profile"]{ display: none; }
#board-info > a.board-right-menu[href="#"] { position: absolute; z-index: 20; right: 0; top: 0; }
#board-info > a.board-right-menu[href="/clips?streamer_id=198269400"]{padding: 10px 10px 10px 5px; }
#board-info > a.board-right-menu[href="//twitch.tv/pparkshy"] {padding: 10px 5px 10px 10px;}
#board-info > h1 { display: block; }
#board-info > h1 > a { color: black; text-decoration: none; }
#board-info > a.board-right-menu:hover {background: none;}
#board-info > a.board-right-menu > i.fa-star:before { color: #efc839; }
#board-info > a.board-right-menu > i.fa-twitch:before {
    content: "\f1e8" " 트위치 바로가기";
    display: inline-block;
    min-width: 10px; padding: 7px 9px;
		font-size: 12px; font-weight: 600; color: #fff;
    line-height: 1; text-align: center;
    white-space: nowrap; vertical-align: middle;
    background-color: var(--color-4); border-radius: 10px;
}
.fa-film:before{
		content: "\f008" " 클립";
		display: inline-block;
		min-width: 10px; padding: 7px 9px;
		font-size: 12px; font-weight: 600; color: #fff;
		line-height: 1; text-align: center;
		white-space: nowrap; vertical-align: middle;
		background-color: var(--color-4); border-radius: 10px;
}

/* Button */
.btn-primary { background: var(--color-4); color: var(--color-0); border-color: var(--color-3); }
.pagination > .active > a, .pagination > .active > a:focus,
.pagination > .active > a:hover, .pagination > .active > span,
.pagination > .active > span:focus, .pagination > .active > span:hover { background-color: var(--color-4); border-color: var(--color-3); }
.pagination > li > a, .pagination > li > span:hover { color: var(--color-3); }
.pagination > li > span:hover { background-color: var(--color-bg); }

/* replay area */
#article-reply-area > .header h5 { color: var(--color-3); font-weight: bold; }
#article-reply-area #reply-real-area .reply > .reply-header { background: var(--color-0) !important; }
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged { color: var(--color-3) !important; }

/* top search bar */
header > #header-search-bar #header-search-input { border: 2px solid var(--color-5); }
header > #header-search-bar #header-search-btn { color: var(--color-0); }
header > #header-area > #header-search-link { color: var(--color-0);  padding-top: 3px; }
/* nav box (left side) */
nav#nav > .nav-header { background: var(--color-3); }
header > #header-area > #header-search-link { color: var(--color-0); }

/*특정글 폰트고정*/
div#article-content[data-id='22676377'].fr-view > p {
    font-family: 'GoyangIlsan' !important;
}
div#article-content[data-id='22803130'].fr-view > p {
    font-family: 'GoyangIlsan' !important;
}
#commentPassword { font-family: sans-serif; }

/*티셔츠 공구 내용 수정*/
#article-list > #article-list-row-21916194 > .item > a.list-title:visited {color: #ff4c4c !important;} /*방문한 페이지 색*/
#article-list > #article-list-row-21916194 > .item > a > span.a-badge{width:20px;} /*공지 아이콘 가리기*/
#article-list > #article-list-row-21916194 > .item > a > span > i:before {
    content: "마감";
    background: var(--color-4); color: white;
    font-weight: bold; font-family:"WONDotum"; text-align:center; font-size: x-small;
}


/**이모티콘 참고자료: https://tgd.kr/18975286 **/
/** emote001 **/
/** 이모티콘창에서 보이는 이모티콘 이미지 수정 **/
.fr-command.fr-emoticon[data-param1=JKanStyle] > img {
     width: 30px !important;
     height: 30px !important;
     padding-left: 30px;
     background-image: var(--emote-01);
     background-size: 100%;
}

/** 글작성 후 보이는 이미지 수정**/
#article-content-wrapper #article-content img[alt=JKanStyle],
.fr-emoticon.fr-deletable > img[alt=JKanStyle]{
     width: 50px !important;
     height: 50px !important;
     padding-left: 50px;
     background-image: var(--emote-01);
     background-size: 100%;
}

/** emote002 **/
/** 이모티콘창에서 보이는 이모티콘 이미지 수정 **/
.fr-command.fr-emoticon[data-param1=OptimizePrime] > img {
     width: 30px !important;
     height: 30px !important;
     padding-left: 30px;
     background-image: var(--emote-02);
     background-size: 100%;
}

/** 글작성 후 보이는 이미지 수정**/
#article-content-wrapper #article-content img[alt=OptimizePrime],
.fr-emoticon.fr-deletable > img[alt=OptimizePrime]{
     width: 50px !important;
     height: 50px !important;
     padding-left: 50px;
     background-image: var(--emote-02);
     background-size: 100%;
}

/** emote003 **/
/** 이모티콘창에서 보이는 이모티콘 이미지 수정 **/
.fr-command.fr-emoticon[data-param1=StoneLightning] > img {
     width: 30px !important;
     height: 30px !important;
     padding-left: 30px;
     background-image: var(--emote-03);
     background-size: 100%;
}

/** 글작성 후 보이는 이미지 수정**/
#article-content-wrapper #article-content img[alt=StoneLightning],
.fr-emoticon.fr-deletable > img[alt=StoneLightning]{
     width: 50px !important;
     height: 50px !important;
     padding-left: 50px;
     background-image: var(--emote-03);
     background-size: 100%;
}

/** emote004 **/
/** 이모티콘창에서 보이는 이모티콘 이미지 수정 **/
.fr-command.fr-emoticon[data-param1=TheRinger] > img {
     width: 30px !important;
     height: 30px !important;
     padding-left: 30px;
     background-image: var(--emote-04);
     background-size: 100%;
}

/** 글작성 후 보이는 이미지 수정**/
#article-content-wrapper #article-content img[alt=TheRinger],
.fr-emoticon.fr-deletable > img[alt=TheRinger]{
     width: 50px !important;
     height: 50px !important;
     padding-left: 50px;
     background-image: var(--emote-04);
     background-size: 100%;
}

/** emote005 **/
/** 이모티콘창에서 보이는 이모티콘 이미지 수정 **/
.fr-command.fr-emoticon[data-param1=RedCoat] > img {
     width: 30px !important;
     height: 30px !important;
     padding-left: 30px;
     background-image: var(--emote-05);
     background-size: 100%;
}

/** 글작성 후 보이는 이미지 수정**/
#article-content-wrapper #article-content img[alt=RedCoat],
.fr-emoticon.fr-deletable > img[alt=RedCoat]{
     width: 50px !important;
     height: 50px !important;
     padding-left: 50px;
     background-image: var(--emote-05);
     background-size: 100%;
}

/** emote006 **/
/** 이모티콘창에서 보이는 이모티콘 이미지 수정 **/
.fr-command.fr-emoticon[data-param1=Kappa] > img {
     width: 30px !important;
     height: 30px !important;
     padding-left: 30px;
     background-image: var(--emote-06);
     background-size: 100%;
}

/** 글작성 후 보이는 이미지 수정**/
#article-content-wrapper #article-content img[alt=Kappa],
.fr-emoticon.fr-deletable > img[alt=Kappa]{
     width: 50px !important;
     height: 50px !important;
     padding-left: 50px;
     background-image: var(--emote-06);
     background-size: 100%;
}

/** emote007 **/
/** 이모티콘창에서 보이는 이모티콘 이미지 수정 **/
.fr-command.fr-emoticon[data-param1=JonCarnage] > img {
     width: 30px !important;
     height: 30px !important;
     padding-left: 30px;
     background-image: var(--emote-07);
     background-size: 100%;
}

/** 글작성 후 보이는 이미지 수정**/
#article-content-wrapper #article-content img[alt=JonCarnage],
.fr-emoticon.fr-deletable > img[alt=JonCarnage]{
     width: 50px !important;
     height: 50px !important;
     padding-left: 50px;
     background-image: var(--emote-07);
     background-size: 100%;
}
