/* 기본 템플릿: 트게더 CSS디자인 커뮤니티 https://tgd.kr/18733230 감사합니다! */
/* (스킨 수정: 익명의 트수) 샤이님은 해당 CSS디자인 제작과 직접적인 관련이 없습니다. */
/* 고양 일산체 */
@font-face {
	font-family: 'GoyangIlsan';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* { font-family: 'GoyangIlsan'; }

:root {
	--color-0: #ffffff; /* box color */
	--color-1: #cceecc; /* */
	--color-2: #e3f1af; /* */
	--color-3: #42275a; /* main color */
	--color-4: #734b6d; /* sub  color */
	--color-5: #a48cba; /* */
	--color-bg: #bdb3c7;

	--logo-URL: url("https://disenocosmico.github.io/shytgd/img/logom.png");
	--logo-size-mobile: 90px 32px;
}

/* main body */
#main-content, body, footer {
	background: var(--color-0) !important;
}

/* 고정 포스트 로고 색 */
span.a-badge i.fa.fa-info-circle { color: red !important; }

header {
	/* border-bottom-color: var(--color-4) !important; */
	background-color: var(--color-4);
	background-image: linear-gradient(315deg, var(--color-4) 0%, var(--color-3) 74%);
}

/* 상단 로고 */
header > #header-area > a > h1 {
	background: var(--logo-URL) no-repeat;
	background-size: var(--logo-size-mobile);
	margin-top: 2px;
}
header > #header-area > #header-bar-link {
	/*color: var(--color-4);*/
	color: var(--color-0);
	padding-top: 3px;
}

#board-info #viewers-area { font-size: 14px; color: var(--color-3); font-weight: normal; vertical-align: middle; line-height: 18px; display: inline-block; }
#header-top-notice a { font-weight: bold; color: var(--color-3) !important; }
#header-top-notice strong.notice-badge { background: var(--color-3) !important; }
#header-top-notice strong.notice-badge { padding-left: 0; padding-right: 0; margin-right: -2em; opacity: 0; }

#article-content-wrapper > .header { background: var(--color-0) !important; border-top: 2px solid var(--color-3); }

/* posts list customed layout */
#article-list > .article-list-row has-category notice > .item > .list-header > strong { width: 0px; }
/* #article-list > .article-list-row.notice { background: var(--color-bg) !important; } */
#article-list > .article-list-row.notice > .item > a.list-title { vertical-align: middle; }
#article-list > .article-list-row.notice > .item > a.list-title > .title-value { padding-left: 6px; }
#article-list > .article-list-row.notice > .item > a.list-title > .list-writer { height: 0px !important; opacity: 0; padding: 0px; }
#article-list > .article-list-row.notice > .item > .list-header { width:12px; }
/* #article-list>.article-list-row.hot { background-color: var(--color-bg); } */
#article-list > .article-list-row > .item > span.a-badge { width: 40px; }
#article-list > .article-list-row > .item > a.list-title > .title-value { max-width: 240px; }
#article-list > .article-list-row > .item > a.list-title > .list-writer.logged > span { color: var(--color-3); }
#article-list > .article-list-row > .item > .list-header > span { background-color: var(--color-4) /*!important;*/ }
#article-list > .article-list-row > .item > .list-header > strong { font-size: 0px; padding: 0px; }

/* normal posts */
#article-list #article-list-category { background: var(--color-0); }
#article-list #article-list-category > a { display: inline-block; padding: 11px 16px; background: var(--color-0); text-decoration: none; font-size: 12px; font-weight: bold; }
#article-list #article-list-category > a:focus { background: var(--color-bg); }

#board-info { background: var(--color-0); max-height: 46px; max-block-size: 46px; }
#board-info > a.board-right-menu { max-height: 40px; border: 0px; vertical-align: middle; color: black; }
#board-info>h1>a { color: black; text-decoration: none; }

/* ButtonAnim */
.btn-primary { background: var(--color-4); }

.pagination > .active > a, .pagination > .active > a:focus,
.pagination > .active > a:hover, .pagination > .active > span,
.pagination > .active > span:focus, .pagination > .active > span:hover { background-color: var(--color-3); border-color: var(--color-3); }
.pagination > li > a, .pagination > li > span:hover { color: var(--color-3); }
.pagination > li > span:hover { background-color: var(--color-bg); }

/* replay area */
#article-reply-area > .header h5 { color: var(--color-3); font-weight: bold; }
#article-reply-area #reply-real-area .reply > .reply-header { background: var(--color-0) !important; }
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged { color: var(--color-3) !important; }

/* top search bar */
header > #header-search-bar #header-search-input { border: 2px solid var(--color-5); }
header > #header-search-bar #header-search-btn { color: var(--color-0); }
header > #header-area > #header-search-link { color: var(--color-0);  padding-top: 3px; }

/* nav box (left side) */
nav#nav > .nav-header { background: var(--color-3); }
header > #header-area > #header-search-link { color: var(--color-0); }
