/* 기본 템플릿: 트게더 CSS디자인 커뮤니티 https://tgd.kr/18733230 감사합니다! */
/* CSS 관련 사항은 연락처 disenocosmico@gmail.com 로 부탁드립니다. */
/* 샤이님은 해당 CSS디자인 제작과 직접적인 관련이 없습니다. */

/* 고양 일산체 */
@font-face {
    font-family: 'GoyangIlsan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*넥센타이어 폰트*/
@font-face {
    font-family: 'NEXEN_TIRE_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/NEXEN_TIRE_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 닉스곤폰트M */
@font-face { font-family: 'NIXGONM-Vb'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff'); font-weight: normal; font-style: normal; }

* { font-family: 'GoyangIlsan'; }

/* 모든 항목 focus시 아웃라인 제거 */
*:focus { outline: none !important; }

:root {
	--color-0: #ffffff; /* box color */
	--color-1: #cceecc; /* */
	--color-2: #e3f1af; /* */
	--color-3: #42275a; /* main color */
	--color-4: #734b6d; /* sub  color */
	--color-5: #a48cba; /* */
	--color-bg: #bdb3c7;

	--logo-URL: url("https://disenocosmico.github.io/shytgd/img/logo2.png");
	--logo-Width: 158px;
	--logo-Height: 50px;
	--logo-size-mobile: 90px 32px;

	--icon-URL: url("https://disenocosmico.github.io/shytgd/img/shen.png");
	--pre-comment: "우직한 트수 ";
	--sub-comment: "명 접속 중!";
  --header-comment: "";
}

html {
	height:auto !important;
	background: linear-gradient(to bottom, var(--color-3) 0%, var(--color-4) 100%);
}

body {
    background: transparent;
}

/*상단배너 (출처: https://tgd.kr/18930870) */
header:before {
	display: block;
	width: 100%;
	height: 78px;
	background: transparent;
	background-position: center center;
	position: relative;
	top: 10px;
	padding: 0;
	content: var(--header-comment);
	color: var(--color-0);
	font-size: 30px; 
	font-family: 'NIXGONM-Vb';
	text-align: center;
	margin-bottom: 15px;
}

header {
	padding: 0 0 0.4em 0;
}


/* logo */
header .row > div:nth-child(1) > a {
	background-repeat: no-repeat; display: block; width: var(--logo-Width); height: var(--logo-Height);
	background-image: var(--logo-URL);
}
header .row > div:nth-child(1) > a img {
	display:none;
}

/* ==============헤더바============== */
/* DefaultColor */
header #header-bar { margin-top: 0.5em; margin-bottom: 0.5em; padding-right: 30px; padding-left: 30px; }

/* header-bar */
header #header-bar > .row {
	padding-top: 0.5em; padding-bottom: 0.3em;
	background: var(--color-0); border:0;
	border-bottom: 2px solid var(--color-1); border-right: 2px solid var(--color-1); /*그림자*/ }

/*advertisement tag */
header #header-bar #header-top-notice strong.notice-badge {
	background: var(--color-4); padding: 4px 8px; color: var(--color-0); font-weight: bold;
}

/* eye pos */
#article-list #article-option-area>#article-option-area-toggle-btn { position: relative; right: 14px; }

/* hot post background */
#article-list > .article-list-row.hot {
	/* background:-webkit-linear-gradient(135deg, var(--color-3) 0%,var(--color-5) 11%,var(--color-0) 40%,var(--color-0) 90%,var(--color-5) 95%,var(--color-3) 100%); */
}

/* ==============좌측메뉴============== */
/* tgd menu box */
#main .menu-wrapper > .header { background: var(--color-4); color: var(--color-0); padding: 0.45em 1.4em 0.45em 1em; font-weight: bold; border-radius: 10px 10px 0 0;}
#main .menu-wrapper > a > em { color: var(--color-3);}
#main .menu-wrapper > a > i.fa.fa-square { color:var(--color-3); }
/* 스케줄은 개별적용 */
#main .menu-wrapper > .header > a { color: var(--color-0); }

/* remove nav box border */
header #header-bar > .row,
#main .menu-wrapper,
#main #main-content > div.frame {
	border-right: none;
	border-bottom: none;
	border-radius: /*10px 10px 0 0*/ 10px;
}
/* nav box category distribute */
#main .menu-wrapper .spacer {
	background: rgba(95,02,22,0);
	height: 4px;
}
/* main shadow */
header #header-bar > .row {
	box-shadow: 3px 0px 10px rgba(0, 02, 22, 0.2);
	border-radius: 15px;
}

/* ==============프로필============== */
#board-info { width: 100%; height: 100px; overflow: hidden; line-height: 1; margin: 0 0 1em; padding: 1em;}
#board-info #board-info-bottom a { color: /* var(--color-3)*/ black; } /* font color */
#board-info #board-info-profile-img { width: 6em; height: auto; border-radius: 50%; border: none; }
#board-info h1 { font-size: 30px; vertical-align: top; padding-left: 4px; padding-top: 0.5em; } /* name */
#board-info h1 > a { text-decoration: none; font-family: 'NEXEN_TIRE_Bold'; }
#board-info h1 > a.badge.badge-live {
	background: #c00; color: #fff;
	text-decoration: none;
	vertical-align: middle;
	font-weight: 700;
}
#board-info-bottom { padding-left: 4px;}
#board-info #board-info-bottom { padding-top: 0.5em;}

/* viewers */
#board-info #viewers-area .fa-user:before { color: rgba(95,02,22,0); content: var(--icon-URL); }
#board-info #viewers-area { color: black;}
#board-info #viewers-area #viewers:before { content: var(--pre-comment); cursor: text; }
#board-info #viewers-area #viewers:after { content: var(--sub-comment); cursor : text; }

#main #main-content > div.frame {
    box-shadow: 3px 0px 10px rgba(0, 02, 22, 0.2);
    border-radius: 15px;
    background: var(--color-0);
}

/* notice post mouse hovered */
#article-list > .article-list-row.notice:hover { background: var(--color-bg); }

/* 공지 뱃지 */
span.a-badge i.fa.fa-info-circle {
	color: var(--color-4);
	vertical-align: -2px !important;
}

/* pagination */
    .pagination > li > a, .pagination > li > span { color: var(--color-3); }
    .pagination > li > a:hover { color: var(--color-3); background-color: var(--color-bg); }
    .pagination > .active > a,
    .pagination > .active > a:focus,
    .pagination > .active > a:hover,
    .pagination > .active > span,
    .pagination > .active > span:focus,
    .pagination > .active > span:hover { background-color: var(--color-3); border-color: var(--color-3); }

#article-content-wrapper > .header { border-top: 3px solid var(--color-4); }
#article-content-wrapper > .footer { border-bottom: 3px solid var(--color-4); }
#article-list #article-list-category > a { display: inline-block; padding: 11px 16px; background: var(--color-0); text-decoration: none; font-size: 12px; font-weight: bold }
#article-list #article-list-category > a:hover { background: var(--color-bg);}

/* category background */
#article-list #article-list-category { border-top: 3px solid var(--color-4); background: var(--color-4); }

/* 목록 글쓴이 색깔 */
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
	color: var(--color-4);
	font-weight: bold;
}
/* 목록 댓글 수*/
#article-list>.article-list-row>.item>.list-title>small.comment-count { color: var(--color-4); }

/*댓글창*/
#article-reply-area #reply-real-area .reply > .reply-header { }
#article-reply-area > .header h5 { font-size: 14px; color: var(--color-4); font-weight: bold; }
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
	font-weight: bold;
	color: var(--color-4);
	cursor: pointer;
}

/* 추천수 하이라이터*/
#article-list > .article-list-row > .item > .list-header > span { background-color: var(--color-4); color: var(--color-0); font-weight: bold; padding: 1px 5px; font-size: 11px; border-radius: 100px }

/* ButtonAnim */
.btn-primary { background: var(--color-4); }
.btn-primary:hover { background: var(--color-bg); }

/* dropdown transition */

.dropdown.open .dropdown-menu,
.input-group-btn.open .dropdown-menu {
	opacity: unset;
	transform: unset;
	border: 1px solid var(--color2);
	border-radius: 10px;
	box-shadow: 0 2px 2px rgba(0,0,0,.3);
}
.dropdown .dropdown-menu,
.input-group-btn .dropdown-menu {
	display: block !important;
	opacity: 0;
	transform: scale(0);
	transform-origin: top;
	transition: all 0.3s cubic-bezier(0.2, 1.5, 0, 1);
	padding: 8px 0 3px 0px;
}
.dropdown-menu>li>a {
	transition: .1s;
}
.dropdown-menu>li>a:hover {
	background: transparent;
	transform: scaleX(1.04);
	transition: .1s;
}
a {
    color: var(--color-5);
}
/* 검색 창 */
header #right-search-form>input[type='text'] {
               border-radius: 12px;
               border: none;
	transition: .25s;
}
header #right-search-form>input[type='text']:hover,
header #right-search-form>input[type='text']:focus {
	transform: scale(1.05);
	transition: .25s;
}

/* 검색 버튼 */
header #right-search-form>#right-search-btn {
               color: var(--color-0);
	transition: .25s;
}
header #right-search-form>#right-search-btn:hover,
header #right-search-form>#right-search-btn:focus {
	transform: scale(1.2);
	transition: .25s;
}
